.input {
  @apply size-i-full
    rounded-s
    border
    border-color-accent-3
    transition
    relative
    flex;
  cursor: text;

  &:hover {
    @apply highlight;
  }

  &:focus-within {
    @apply border-color-accent;
  }

  & input {
    @apply min-size-i-0
      p-s
      p-bs-m.2
      text-fg-1
      flex-1;
    outline: none;
  }
}

.label {
  @apply absolute
    text-fg-3
    text-s.8 a;
  top: 0;
  left: 1rem;
  line-height: 2.5rem;
}
