.progress {
  border-radius: 50%;
  /* TODO: Remove --radius in favor of just setting size */
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  animation: spin infinite;
  @apply
    border
    border-s.2
    border-color-fg-2
    border-bs-color-fg-1
    animation-duration-m
    animation-ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
