* {
  font-family: 'Assistant', sans-serif;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100vh;
}

.animate-in,
.animate-out {
  animation-fill-mode: forwards;
}

.animate-in {
  animation-name: in;
}

.animate-out {
  animation-name: out;
}

pre {
  --app-hue: var(--hue);
}

pre.css,
.hljs-tag {
  @apply text-fg-3;
}

.hljs-selector-class,
.hljs-name {
  @apply text-int;
}

.hljs-attribute,
.hljs-attr {
  @apply text-fg-1;
}

.hljs-string {
  --hue: calc(var(--app-hue) + 72);
  @apply text-int;
}

.current-utility {
  --hue: calc(var(--app-hue) + 36);
  @apply bg-int2 rounded-s.4 p-i-s.2;
}

@keyframes in {
  from {
    transform: scale(1.025);
    opacity: 0;
  }

  50% {
    transform: scale(1.025);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0.975);
    opacity: 0;
  }

  to {
    transform: scale(0.975);
    opacity: 0;
  }
}
